body {
  background-color: #f8f9fa;
}
.card {
  border-left: 4px solid;
  margin-bottom: 15px;
}
#frequencyCard {
  border-left-color: #007bff;
}
#amplitudeCard {
  border-left-color: #28a745;
}
#soundCard {
  border-left-color: #dc3545;
}
#controlCard {
  border-left-color: #ffc107;
}
#bounceCard {
  border-left-color: #17a2b8;
}
#wallCard {
  border-left-color: #6f42c1;
}
#canvas-container {
  width: 675px;
  height: 675px;
  border-radius: 0.8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;

  
}

#canvas-container canvas {
  transform: scale(1.5) translate(40px, 40px);
  transform-origin: center;
}